@media only screen and (max-width: 600px) {
  .home,
.home * {
  box-sizing: border-box;
}
.home {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.navbar-2 {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 375px;
  position: absolute;
  overflow: hidden;
}
.container {
  padding: 0px 12px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.company-logo {
  flex-shrink: 0;
  width: 84px;
  height: 36px;
  position: relative;
  overflow: hidden;
}
.logo-wide-1 {
  width: 70px;
  height: 36px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.column {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: var(--color-neutral-black, #000000);
  border-style: solid;
  border-color: var(--color-neutral-black, #000000);
  border-width: 1px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  color: var(--text-alternate, #ffffff);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon-x {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.header-5 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 64px 20px 64px 20px;
  display: flex
;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: -webkit-fill-available;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.column2 {
  display: flex
;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.medium-length-hero-headline-goes-here {
  color: var(--text-alternate, #ffffff);
  text-align: left;
  font-family: var(--heading-mobile-h1-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-mobile-h1-font-size, 40px);
  line-height: var(--heading-mobile-h1-line-height, 120%);
  font-weight: var(--heading-mobile-h1-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat {
  color: var(--text-alternate, #ffffff);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.actions2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button3 {
  background: var(--color-neutral-white, #ffffff);
  border-style: solid;
  border-color: var(--color-neutral-white, #ffffff);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button4 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.button5 {
  border-style: solid;
  border-color: var(--color-neutral-white, #ffffff);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.layout-239 {
  background: var(--background-color-primary, #ffffff);
  padding: 64px 20px 64px 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 375px;
  position: relative;
  overflow: hidden;
}
.section-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tagline-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tagline {
  color: var(--text-primary, #000000);
  text-align: center;
  font-family: var(
    --heading-desktop-tagline-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--heading-desktop-tagline-font-size, 16px);
  line-height: var(--heading-desktop-tagline-line-height, 150%);
  font-weight: var(--heading-desktop-tagline-font-weight, 600);
  position: relative;
}
.content3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading {
  color: var(--text-primary, #000000);
  text-align: center;
  font-family: var(--heading-mobile-h2-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-mobile-h2-font-size, 36px);
  line-height: var(--heading-mobile-h2-line-height, 120%);
  font-weight: var(--heading-mobile-h2-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.text {
  color: var(--text-primary, #000000);
  text-align: center;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.column3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.placeholder-image {
  align-self: stretch;
  flex-shrink: 0;
  height: 198px;
  position: relative;
  object-fit: cover;
}
.heading2 {
  color: var(--text-primary, #000000);
  text-align: center;
  font-family: var(--heading-mobile-h4-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-mobile-h4-font-size, 24px);
  line-height: var(--heading-mobile-h4-line-height, 140%);
  font-weight: var(--heading-mobile-h4-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.actions3 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button6 {
  border-style: solid;
  border-color: var(--color-neutral-black, #000000);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.button7 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-chevron-right {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.layout-1 {
  background: var(--background-color-primary, #ffffff);
  padding: 64px 20px 64px 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 375px;
  position: relative;
  overflow: hidden;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-title2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tagline2 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(
    --heading-desktop-tagline-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--heading-desktop-tagline-font-size, 16px);
  line-height: var(--heading-desktop-tagline-line-height, 150%);
  font-weight: var(--heading-desktop-tagline-font-weight, 600);
  position: relative;
}
.heading3 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(--heading-mobile-h2-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-mobile-h2-font-size, 36px);
  line-height: var(--heading-mobile-h2-line-height, 120%);
  font-weight: var(--heading-mobile-h2-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.text2 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.icon-chevron-right2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.placeholder-image2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 348px;
  position: relative;
  object-fit: cover;
}
.portfolio-16 {
  background: var(--background-color-primary, #ffffff);
  padding: 64px 20px 64px 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 375px;
  position: relative;
  overflow: hidden;
}
.tagline-wrapper2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row2 {
  border-style: solid;
  border-color: var(--border-primary, #000000);
  border-width: 1px 0px 0px 0px;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 251px;
  position: relative;
}
.placeholder-image3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
}
.left-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content-top {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading4 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(--heading-mobile-h4-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-mobile-h4-font-size, 24px);
  line-height: var(--heading-mobile-h4-line-height, 140%);
  font-weight: var(--heading-mobile-h4-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.tags {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tag {
  background: var(--background-color-secondary, #eeeeee);
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text4 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
}
.actions4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button8 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-chevron-right3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-chevron-right4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-chevron-right5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.actions5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button9 {
  border-style: solid;
  border-color: var(--color-neutral-black, #000000);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.cta-19 {
  background: var(--background-color-primary, #ffffff);
  padding: 64px 20px 64px 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 375px;
  position: relative;
  overflow: hidden;
}
.button10 {
  background: var(--color-neutral-black, #000000);
  border-style: solid;
  border-color: var(--color-neutral-black, #000000);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.footer-3 {
  background: var(--background-color-primary, #ffffff);
  padding: 48px 20px 48px 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 375px;
  position: relative;
  overflow: hidden;
}
.content6 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo-wide-12 {
  width: 70px;
  height: 36px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.content7 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: auto;
}
.address {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.level-1-12-sample-st-sydney-nsw-2000 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-small-normal-font-size, 14px);
  line-height: var(--text-small-normal-line-height, 150%);
  font-weight: var(--text-small-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.contact {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._1800-123-4567 {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
  align-self: stretch;
}
.info-relume-io {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
  align-self: stretch;
}
.social-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-facebook {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-x2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-linked-in {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-youtube {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.column4 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.link-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.our-services {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.contact-us {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.portfolio {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.blog {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.careers {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.testimonials {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.fa-qs {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.support {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.sitemap {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.credits {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.divider {
  background: var(--border-primary, #000000);
  border-style: solid;
  border-color: var(--border-primary, #000000);
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.row3 {
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.privacy-policy {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}
.terms-of-service {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}
.cookies-settings {
  color: var(--link-primary, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}
._2024-relume-all-rights-reserved {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: var(
    --text-small-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-small-normal-font-size, 14px);
  line-height: var(--text-small-normal-line-height, 150%);
  font-weight: var(--text-small-normal-font-weight, 400);
  position: relative;
}

}